<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/script.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link href="/css/style.css" rel="stylesheet">
  <title>Anime Explorer | Results</title>
</head>
<body class="font-body">
  <header class="relative bg-background-800">
    <nav class="container  mx-auto flex items-center justify-between py-4 px-8 lg:px-14 gap-4 ">
      <a href="/anime" class="">
        <img src="/images/logo.png" class="w-36" alt="logo">
      </a>
      
     <!-- NavItems -->
     <ul class="flex gap-5 items-center relative ">
     <!-- Search -->
     <form action="/anime/results" method="POST" class="search relative active overflow-hidden">
      <input type="text" class="input" placeholder="search" id="search" name="search">
      <button class="btn" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
     </form>
    <!-- Result container -->
    <ul id="results" class="hidden absolute overflow-x-hidden overflow-y-scroll max-h-[300px] top-10 z-50 left-0 w-[300px] bg-background-400 rounded-b-md">
        <div class="spinner active"></div>
    </ul>
     
      <li><a href="/anime" class="text-text hover:text-accent">Home</a></li>
      <li class="relative">
        <a href="#"  class="text-text group hover:text-accent p-1" id="genre">Genres</a>
          <ul class="hidden absolute right-[-40px] bg-background-800  space-y-3 z-[100]  rounded-b-lg text-text" name="genre" id="genre-list">
            <li class="w-full p-3 hover:bg-background-400"> <a href="/anime/search?genre=Action">Action</a></li>
            <li class="w-full p-3 hover:bg-background-400"> <a href="/anime/search?genre=Horror">Horror</a></li>
            <li class="w-full p-3 hover:bg-background-400"> <a href="/anime/search?genre=Comedy">Comedy</a></li>
            <li class="w-full p-3 hover:bg-background-400"> <a href="/anime/search?genre=Adventure">Adventure</a></li>
            <li class="w-full p-3 hover:bg-background-400 rounded-b-lg"> <a href="/anime/search?genre=Sci-Fi">Sci-Fi</a></li>
            </ul>
      </li>
    </ul>
    </nav>
  </header>

  <main class="bg-background-800">
    <div class="container mx-auto  flex flex-col  items-start justify-center lg:flex-row">
      <section class="current-aring w-full  p-4">
        <h1 class="text-text font-bold text-4xl text-center font-heading">Results for '<%=genre%>'</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 justify-center items-center p-10">
          <% results.forEach(anime =>{ %>
            <div class="card-container">
             <a href="/anime/<%=anime.node.id%>">
               <div class="card">
                 <div class="card-front">
                   <img src="<%=anime.node.main_picture.large%>" alt="<%=anime.node.title%>" class="card-image">
                   <div class="card-info">
                     <div class="episode">
                       <% if(anime.node.num_episodes) {%>
                        EP: <%=anime.node.num_episodes %>
                      <% }else{ %>
                         ?
                       <% } %>
                     </div>
                     <div class="type"><%=anime.node.media_type%></div>
                   </div>
                   
                 </div>
                 <div class="card-back">
                   <img src="<%=anime.node.main_picture.large%>" alt="<%=anime.node.title%>" class="card-image">
                   <div class="overlay"></div>
                   <div class="card-details">
                     <p><%=anime.node.title%></p>
                     <p>Other name: <%=anime.node.alternative_titles.synonyms[0]%></p>
                     <p>Status: <%=anime.node.status%></p>
                     <p>Date Aired: <%=anime.node.start_date%></p>
                     <p>Genres:
                       <%anime.node.genres.forEach(genre =>{ %>
                         <span><%=genre.name%>, </span>
                     <% })%>
                       </p>
                     <p>Score: <%=anime.node.mean%></p>
                   </div>
                 </div>
                 <div class="card-title my-2">
                     <%=anime.node.title%>
                 </div>
               </div>
             </a>
             </div>
       <%  }) %> 
        
        </div>
      </section>
    
    </div>
  </main>


  <footer class="p-10 md:p-20 bg-background-400">
    <div class="flex justify-between">
    <a href="/anime"><img src="/images/logo.png" class="w-[200px]" alt="logo"></a>
     <ul class="flex text-text text-2xl gap-2">
       <li>
        <a href="https://instagram.com" class="hover:text-accent"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
       </li><li>
        <a href="https://discord.com" class="hover:text-accent"> <i class="fab fa-discord" aria-hidden="true"></i></a>
       </li><li>
        <a href="https://twitter.com" class="hover:text-accent"> <i class="fab fa-x" aria-hidden="true"></i></a>
       </li>
     </ul>
    </div>
   </footer>
</body>
</html>
